.game {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#character {
  width: 20px;
  height: 20px;
  background-color: green;
  position: absolute;
  bottom: 200px;
  left: 150px;
  border-radius: 20px;
}
button {
  width: 100px;
}
#score {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
  font-size: 55px;
  position: absolute;
  left: 150px;
  top: 150px;
}
#upper-spikes {
  position: relative;
  background-color: red;
  height: 3px;
  width: 300px;
  margin: 0 auto;
}

#lower-spikes {
  width: 300px;
  height: 3px;
  background-color: red;
  margin: 0 auto;
}
#left-barrier {
  height: 100%;
  width: 5px;
}
.left-barrier-container-1,
.left-barrier-container-2,
.left-barrier-container-3,
.left-barrier-container-4 {
  height: 10%;
  color: black;
}
.barrier {
  height: 100%;
  width: 10px;
  background-color: red;
}
