#game-container {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
#high-scores-container{
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;

  display: none;

}
#about-container{
  display: none;
}
.button-container{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
button{
  border: none;
  text-align: center;
  padding: 3px 15px;
  margin-right: 3px;
  width: auto;
}
#high-scores-button{
display: block;
}
#play-button{
  display: none;
}

#character {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 200px;
  left: 130px;
  background-image: url("images/birdRight.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

#score {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
  font-size: 55px;
  position: absolute;
  left: 130px;
  top: 150px;
  font-family: 'Lato', sans-serif;
}
#upper-spikes {
  position: absolute;
  top: 0;
  background-image: url("images/upper-spike.png");
  height: 14px;
  width: 300px;
  margin: 0 auto;
  background-repeat: repeat;
  background-size: contain;
}

#lower-spikes {
  width: 300px;
  height: 14px;
  background-image: url("images/lower-spike.png");
  background-size: contain;
  position: absolute;
  bottom: 0;
}
#left-barrier {
  height: 100%;
  width: 20px;
}
#right-barrier {
  height: 100%;
  width: 20px;
}
.left-barrier-container-1,
.left-barrier-container-2,
.left-barrier-container-3,
.left-barrier-container-4,
.left-barrier-container-5,
.left-barrier-container-6,
.left-barrier-container-7,
.left-barrier-container-8,
.left-barrier-container-9,
.left-barrier-container-10 {
  height: 10%;
  color: black;
}
.right-barrier-container-1,
.right-barrier-container-2,
.right-barrier-container-3,
.right-barrier-container-4,
.right-barrier-container-5,
.right-barrier-container-6,
.right-barrier-container-7,
.right-barrier-container-8,
.right-barrier-container-9,
.right-barrier-container-10 {
  height: 10%;
  width: 100%;
  color: black;
}
.left-barrier {
  height: 100%;
  width: 100%;
  background-image: url("/images/spike-left.png");
  background-size: contain;
  background-repeat: repeat;
}
.right-barrier {
  height: 100%;
  width: 100%;
  background-image: url("/images/spike-right.png");
  background-size: contain;
  background-repeat: repeat;
}
h1{
  text-align: center;
  font-family: 'Lato', sans-serif;

  font-size: 22px;
}